* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
body{
    background: url("../image/1.gif") no-repeat center center fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	min-height: 80vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.wrapper{
	background-color: #3f51b500;
    padding: 40px;
    -webkit-box-shadow: 0 5px 9px 0 rgb(0 0 0 / 24%), 0 8px 24px 0 rgb(0 0 0 / 19%);
            box-shadow: 0 5px 9px 0 rgb(0 0 0 / 24%), 0 8px 24px 0 rgb(0 0 0 / 19%);
	margin: 12px;
}
.wrapper header{
    text-align: center;
    margin: 22px;
    color: white;
    font-weight: 900;
}
h1{
	font-size: 27px;
	padding: 12px;
}
h2{
	font-size: 20px;
}
.search input{
	width: 100%;
    outline: none;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    padding: 12px;
	border: 2px solid #3f51b5;
	text-transform: lowercase;
    color: red;
    font-weight: 900;
}
.search input:hover{
	width: 100%;
    outline: none;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    padding: 12px;
    border: 2px solid blue;
}
.search{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.istruction-box{
	display: none;
}
.istruction-box p{
	background: #ffffff;
    padding: 12px;
    margin-top: 12px;
    font-weight: 900;
    border: 1px solid #6a6a6a;
    -webkit-box-shadow: 0px 0px 3px 0px;
            box-shadow: 0px 0px 3px 0px;
}
.btn{
	padding: 14px;
	border: 2px solid #313238;
	background: #464750;
	color: white;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.btn:hover{
	border: 2px solid #313238;
	background: #16161a;
	cursor: pointer;
}
.clear{
	padding: 15px;
	border: 2px solid #313238;
	background: #ad3b3b;
	color: white;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	display: none;
}
.clear:hover{
	border: 2px solid #313238;
	background: #8f2727;
	cursor: pointer;
}
.noResults{
	display: none;
	background: #f3f3f3;
	padding: 12px;
	margin-top: 12px;
}
.noResaltWord{
	color: red;
    padding-left: 5px;
    font-weight: 900;
}
footer{
	background: #af141454;
    padding: 12px;
    color: white;
	border: 1px solid white;
	cursor: auto;
}